<html>
<body>
<style>
    .hexagon.row span {
        font-size: 80px;
        margin-right: -20px;
    }

    .hexagon.row span:nth-child(2n) {
        position: relative;
        top: 35px;
    }

    .hexagon.row {
        margin-bottom: -25px;
    }
</style>

<div class="hexagon row">
    <span>⬣</span>
    <span>⬣</span>
    <span>⬣</span>
    <span>⬣</span>
    <span>⬣</span>
    <span>⬣</span>
</div>
<div class="hexagon row">
    <span>⬣</span>
    <span>⬣</span>
    <span>⬣</span>
    <span>⬣</span>
    <span>⬣</span>
    <span>⬣</span>
</div>

</body>
</html>

